@font-face {
    font-family: 'B612';
    src: url(../fonts/B612-Regular.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}

:root {
    --color1-blue: #7F00FF;
    --color2-purple: #E100FF;
    --color3-purple: #9b3471;
    --color4-darkPurple: #3e1057;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: 'B612';
}

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color1-blue);
    background: -webkit-linear-gradient(to right, var(--color2-purple), var(--color1-blue));
    background: linear-gradient(to right, var(--color2-purple), var(--color1-blue)); 
}

.header{
    min-height: 120px;
    background-color: rgba(0, 0, 0, 0.548);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.main {
    flex-grow: 1;
    display: flex;
}

.add {
    color: white;
    height: 60px;
    width: 90%;
    border: 2px solid rgb(255, 255, 255);
    background-color: #22003d69;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    transition: 0.25s;
    margin-top: 10%;
    border-radius: 10px;
}

.add h1{
    margin-top: 3px;
    margin-bottom: 0;
    font-weight: 400px;
}

.add img {
    height: 47px;
    width: 47px;
}

.add:hover {
    background-color: #a700bd69;
    transform: scale(1.03);
}

.add:active{
    transform: scale(0.9);
}

.modal-container, .edit-container, .confirmation-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.432);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
    min-height: 400px;
    left: 50%;
    top: 50%;
    height: 63%;
    width: 27%;
    background: #ad5389;
    background: -webkit-linear-gradient(to bottom, var(--color4-darkPurple), var(--color3-purple));
    background: linear-gradient(to bottom, var(--color4-darkPurple), var(--color3-purple)); 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-container .modal{
    animation: popup 0.27s;
  }

.modal-edit {
    animation: popup 0.27s;
}
  
@keyframes popup {
    0%{
        transform: scale(0.8);
    }

    100%{
        transform: scale(1);
    }
}

.close {
    display: flex;
    justify-content: flex-end;
}

.close img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form h1 {
    margin-top: 0;
    color: white;
    font-size: 1.6rem;
}

form label {
    display: block;
    margin-bottom: 4px;
    color: white;
    position: absolute;
    top: 5px;
    transition: transform 150ms ease-out, font-size 150ms ease-out;;
}

form div {
    position: relative;
    width: 80%;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color2-purple);
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    min-height: 32px;
    width: 100%;
}

input:focus {
    outline: none;
}

input.focused + label {
    transform: translateY(-140%);
    font-size: 0.75em;
}

div.slider_div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

label[for="read"], label[for="read_edit"]{
    display: inline;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

input[type="checkbox"]{
    appearance: none;
    border-radius: 14px;
    width: 50px;
    min-height: 28px;
    border: 2px solid white;
    position: relative;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}  

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    right: 27px;
    top: 4px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider::after {
    position: absolute;
    content: "No";
    height: 20px;
    width: 20px;
    right: -25px;
    top: 5px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input[type="checkbox"]:checked + .slider::before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

input[type="checkbox"]:checked{
    background-color: var(--color1-blue);
}

input[type="checkbox"]:checked + .slider::after {
    transform: scale(1);
    content: "Yes";
} 

span.label-txt {
    margin-bottom: 3px;
}

.slider-container {
    width: fit-content;
    margin-right: 8%;
}

.submit_container {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    align-self: center;
}

button.submit, button.reset {
    width: 45%;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.5s;
}

div.submit_container > button > img {
    height: 25px;
    width: 25px;
    margin-bottom: 3px;
}

div.submit_container button:hover {
    transform: scale(1.05);
}

div.submit_container button:active {
    transform: scale(0.97);
}

div[data-index]{
    height: 300px; 
    background: #64696dd2;
    background: -webkit-linear-gradient(to bottom, #64696dd2, #1d1d1dcb);
    background: linear-gradient(to bottom, #64696dd2, #1d1d1dcb);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    text-shadow: 0 0 10px rgb(64, 5, 78);
    box-shadow: 7px 7px 4px rgba(90, 90, 90, 0.699);
    animation: popup 0.27s;
    transition: 0.17s;
}

div[data-index]:hover {
    transform: scale(1.023);
}

div[data-index].read{
    background: #ad5389;
    background: -webkit-linear-gradient(to top, #5f1985c5, #a12971d8);
    background: linear-gradient(to top, #5f198593, #a12971af);
}


.sidebar {
    font-family: 'Quicksand';
    width: 18%;
    min-width: 200px;
    background-color: #00000013;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 40px;
    padding: 30px 10px;
    justify-content: center;
}

h3 {
    padding-bottom: 10px;
    width: 80%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: break-word;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
}

.info-container h4 {
    margin: 4px;
}

.options-div {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    min-height: 30%;
}

.delete {
    padding-left: 4px;
    background-color: rgba(255, 0, 0, 0.664);
    border: 2px solid black;
    color: rgb(0, 0, 0);
    border-radius: 7px;
}

.edit, .delete {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 110px;
    transition: 0.5s;
}

.edit {
    padding-left: 6%;
    background-color: rgb(214, 214, 214);
    border: 2px solid black;
    color: rgb(0, 0, 0);
    border-radius: 7px;
}

.edit::after {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 67px;
    content: "";
    background-color: transparent;
    background-image: url(../imgs/edit.svg);
    background-size: cover;
    margin-bottom: 3px;
}

.delete::after {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 72px;
    content: "";
    background-color: transparent;
    background-image: url(../imgs/delete.svg);
    background-size: cover;
}

.delete:hover, .edit:hover {
    transform: scale(1.06);
}   

h4{
    text-align: center;
    word-break: break-word;
}

.modal-edit {
    left: 50%;
    top: 50%;
    min-height: 400px;
    height: 67%;
    width: 20%;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to bottom, #2c3e50, #9da1a3);
    background: linear-gradient(to bottom, #365572, #4d4d4d);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-container .edit_btn, .edit-container .reset {
    font-size: 1rem;
}

.edit_btn {
    width: 45%;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.5s;
    padding-left: 10px;
}

.modal-edit input{
    border-color: white;
}

img[alt="submit"]{
    pointer-events: none;
}

.confirm-modal {
    left: 50%;
    top: 50%;
    min-height: 30%;
    width: 40%;
    background: rgb(118, 10, 168);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9;
    text-align: center;
    padding: 10px;
    color: white;
    border: 2px solid white;
}

.confirm-modal {
    animation: popup 0.27s;
}

.yes-delete, .no-delete{
    width: 100px;
    height: 40px;
    border-radius: 6px;
    font-size: 1.4rem;
    transition: 0.2s;
    border: 1px solid black;
}

.yes-delete{
    background-color: rgb(196, 0, 0);
    color: white;
}

.no-delete{
    background-color: rgb(0, 112, 15);
    color: rgb(255, 255, 255);
}

.yes-delete:hover, .no-delete:hover{
    transform: scale(1.03);
}

.confirm-options{
    display: flex;
    justify-content: center;
    width: 55%;
    gap: 30px;
}

.clarification-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    font-weight: 600;
}

.read-color, .non-read-color{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 5px;

}

.read-color div, .non-read-color div{
    min-width: 30px;
    height: 30px;
    border-radius: 7px;
}

.read-color div{
    background-color:#ad5389;
    background: -webkit-linear-gradient(to top, #5f1985c5, #a12971d8);
    background: linear-gradient(to top, #5f198593, #a12971af);;
}

.non-read-color div {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to bottom, #2c3e50, #9da1a3);
    background: linear-gradient(to bottom, #64696de1, #1d1d1dd7);
}

.log{
    border: 2px solid white;
    width: 90%;
    height: 175px;
    color: white;
    text-align: center;
    border-radius: 4px;
}

.log h2{
    margin: 0;
    margin-top: 5px;
    width: 100%;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.log p {
    font-weight: 500;
}

.logo{
    display: flex;
    align-items: center;
    font-family: 'Quicksand';
    color: white;
    font-size: 2rem;
    border-bottom: 5px solid white;
    padding-bottom: 4px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.logo h1{
    margin: 0;
}

.github {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.4rem;
    transition: 0.4s;
}

.github div{
    transition: 0.4s;
}

.github img {
    height: 40px;
    width: 40px;
    transition: 0.4s;
}

.github:hover img{
    transform: rotate(360deg);
}

.github:hover div{
    transform: scale(1.1);
}

.github:hover{
    gap: 15px;
}

.github div a:visited{
    color: white;
    text-decoration: none;
}

.github div a:link{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1230px){
    .modal {
        width: 46%;
    }
    .modal-edit{
        width: 46%;
    }
    
}

@media only screen and (max-width: 685px){
    :root{
        font-size: 12px;
    }
    .main{
        flex-direction: column-reverse;
    }
    .sidebar{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 7px 15px;
        gap: 3px;
    }

    .add{
        margin: 0;
    }

    .log{
        font-size: 0.8rem;
        max-height: 140px;
        min-width: 60px;
    }
    .modal, .modal-edit{
        width: 70%;
    }


    .logo{
        font-size: 1.4rem;
    }
    .header{
        padding-left: 8px;
        padding-right: 8px;
    }
    .confirm-modal{
        width: 60%;
    }
}

@media only screen and (max-height: 392px){
    .modal,.modal-edit{
        min-height: 360px;
        font-size: 0.8rem;
    }
    .modal button, .modal-edit button{
        font-size: 0.8rem;
    }
}